.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 70px;
  li {
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: lightgray;
    }
    a {
      color: $white;
      text-decoration: none;
      padding: 5px 15px;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-weight: bold;
    }
  }
}
.logo {
  img {
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: auto;
    float: left;
  }
}
.row {
  max-width: 60vw;
  margin: auto;
}
