// colors
$white: white;
$greenbtn: limegreen;
$bluebtn: blue;
$lightgray: lightgray;

// font size and family

$h1FontFamily: Verdana, Geneva, Tahoma, sans-serif;
$fontSize: 2vw;
// margin
$margintop: 3rem;
$marginright: 1.1rem;
